<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>小黑闲着没事干，模仿QQ来做个聊天系统看看</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mqq-bottom-ad" content="no">

<link rel="stylesheet" type="text/css" href="./QQ_files/mq.css">
<link rel="stylesheet" href="./css/index.xiaohei.css">

</head>
<body class="black">
    <div id="bgAllImage"><img class="bgAllImage" src="./QQ_files/26.jpg"></div>
    <div class="wrap">
        <div id="main_container" style="display: block;"><div class="panel main-panel" id="panel-0" style="display: block;">
<div id="panelBodyWrapper-0" class="panel_body_container" style=" bottom: 50px;">
    <div id="panelBody-0" class="panel_body "><div id="mainTopAll" cmd="void"><div class="accountHeader">
    <div class="avatar_wrap">
        <img src="./QQ_files/getface(1)" width="40" height="40">
        <span id="user_online_state" class="state_online"></span>
    </div>
    <span class="text_ellipsis user_nick" id="lz-logined-name">小黑的web聊天室</span>
    <span style="margin-left:77px;text-decoration: underline;cursor: pointer;" onclick="loginOut()">退出</span>
</div>

</div><div class="panel selected" id="panel-2" cmd="void">
<header id="panelHeader-2" class="panel_header">
        

        <h1 id="panelTitle-2" class="text_ellipsis padding_20">小黑做的web聊天室</h1>
    
    
    
</header>

<div id="panelBodyWrapper-2" class="panel_body_container" style="top: 45px; ">
    <div id="panelBody-2" class="panel_body "><div id="contactList" class="tab tab_animate member_tab">
    <ul id="memberTab" class="tab_head">
        <li cmd="clickMemberTab" param="friend" class="active">好友</li>
        <li cmd="clickMemberTab" param="group" onclick="alert('暂未开放')">房间</li>
        <li cmd="clickMemberTab" param="discuss" onclick="alert('暂未开放')">讨论组</li>
    </ul>
    <ul class="tab_body member_tab_body">
        <li id="memberTabBody-friend" class="active">
            <div id="f_list_scroll_area" class="member_scroll_area" style="overflow: hidden; overflow-y: scroll;">
                <ul id="friend_groupList" class="group_list member_group_list" style="">


<li class="list_group active">
    <div id="groupTitle-0" class="list_group_title list_group_white_title list_arrow_right" cmd="clickMemberGroup" param="0">
        <span>当前连接人数</span>
        <span class="onlinePercent" id="lz-user-number"><%= clientList.length+50 %></span>
    </div>
    <ul id="groupBodyUl-0" class="list_group_body list list_white catogory_List">




    
<li id="friend-item-friend-418131904" class="list_item" _uin="418131904" _type="friend" cmd="clickMemberItem">
    <a href="javascript:void(0);" class="avatar" cmd="clickMemberAvatar" _uin="418131904" _type="friend"><img src="./QQ_files/getface(1)" class="lazyLoadImg loaded">
        
    </a>
    <p class="member_nick" id="userNick-418131904">
    
        客观飞机
    
    </p>
    
    <p class="member_msg text_ellipsis">
    
    <span class="member_state">[在线]</span>
    
    	
    <span class="member_signature">...→C++→MFC→H5CSS3→JAVA→.....</span></p>
    	

    </li>

<!-- 循环用户列表 -->
<% for(var i=0;i<clientList.length;i++){ 
        if(clientList[i].lzUserInfo.username){
    %>
<li id="<%= clientList[i].lzUserInfo.connId %>" class="list_item" _uin="418131904" _type="friend" cmd="clickMemberItem">
    <a href="javascript:void(0);" class="avatar" cmd="clickMemberAvatar" _uin="418131904" _type="friend"><img src="./QQ_files/getface(1)" class="lazyLoadImg loaded">
        
    </a>
    <p class="member_nick" id="userNick-418131904">
    
        <%= clientList[i].lzUserInfo.username %>
    
    </p>
    
    <p class="member_msg text_ellipsis">
    
    <span class="member_state">[在线]</span>
    
        
    <span class="member_signature" title="IP:<%= JSON.stringify(clientList[i].handshake.address) %>">鼠标悬浮可查看对方ip</span></p>
        

    </li>
<% } } %>

    

</ul>
</li>

</ul> 


            </div>
        </li>
        
        
    </ul>
</div>
</div>
    <ul id="pannelMenuList-2" class="pannel_menu_list">
    </ul>
</div>

</div><div class="panel " id="panel-3" cmd="void">
<header id="panelHeader-3" class="panel_header">
    
        <h1 id="panelTitle-3" class="text_ellipsis padding_20">发现</h1>
    
</header>

<div id="panelBodyWrapper-3" class="panel_body_container" style="top: 45px; overflow: hidden;">
    <div id="panelBody-3" class="panel_body plugin" style="-webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -webkit-transition-duration: 0ms; transition-duration: 0ms; -webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate(0px, 0px) translateZ(0px);"><ul id="plugin_list" class="clearfix">
    
    <li id="qzone" cmd="clickItem">
        <span class="icon"></span>
        <a>QQ空间</a>
    </li>
    
    <li id="qmail" cmd="clickItem">
        <span class="icon"></span>
        <a>QQ邮箱</a>
    </li>
    
    <li id="qq_portal" cmd="clickItem">
        <span class="icon"></span>
        <a>腾讯网</a>
    </li>
    
</ul></div>
    <ul id="pannelMenuList-3" class="pannel_menu_list">
    </ul>
</div>

</div><div class="panel " id="panel-4" cmd="void">
<header id="panelHeader-4" class="panel_header">
    
        <h1 id="panelTitle-4" class="text_ellipsis padding_20">设置</h1>
    
</header>

<div id="panelBodyWrapper-4" class="panel_body_container" style="top: 45px; overflow: hidden;">
    <div id="panelBody-4" class="panel_body list_page setting" style="-webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -webkit-transition-duration: 0ms; transition-duration: 0ms; -webkit-transform-origin: 0px 0px 0px; -webkit-transform: translate(0px, 0px) translateZ(0px);"></div>
    <ul id="pannelMenuList-4" class="pannel_menu_list">
    </ul>
</div>

</div></div>
    <ul id="pannelMenuList-0" class="pannel_menu_list">
    </ul>
</div>

<footer id="panelFooter-0" class="">
    <nav id="nav_tab" cmd="void">
    <ul class="nav_tab_head" onclick="alert('手贱啊，别乱点了，这些都是假的。。。')">
        
        <li id="session" class="contact" cmd="clickNav" param="session">
            <a>
                <div class="icon"></div>
                <span>会话</span>
            </a>
        </li>
        
        <li id="contact" class="conversation selected" cmd="clickNav" param="contact">
            <a>
                <div class="icon"></div>
                <span>联系人</span>
            </a>
        </li>
        
        <li id="plugin" class="plugin" cmd="clickNav" param="plugin">
            <a>
                <div class="icon"></div>
                <span>发现</span>
            </a>
        </li>
        
        <li id="setting" class="setup" cmd="clickNav" param="setting">
            <a>
                <div class="icon"></div>
                <span>设置</span>
            </a>
        </li>
        
    </ul>
    
    
</nav>


</footer>

</div>

</div>

    <div id="container" class="container" style="display: block;">
        <!-- 对话开始 -->
    
        <div class="panel chat-panel" id="panel-5" cmd="void" style="transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0, 1); -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0, 1); transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); display: block;">
        <header id="panelHeader-5" class="panel_header">
            
            <button id="return-to-userlist" class="btn btn_small btn_right btn_black btn_setting" cmd="clickRightButton">
                <span id="panelRightButtonText-5" class="btn_text">返回</span>
            </button>
            
                <h1 id="panelTitle-5" class="text_ellipsis padding_20">小黑做的web聊天室</h1>
            
            <button id="panelRightButton-5" class="btn btn_small btn_right btn_black btn_setting" cmd="clickRightButton">
                <span id="panelRightButtonText-5" class="btn_text">关闭</span>
            </button>
            
        </header>

        <div id="panelBodyWrapper-5" class="panel_body_container" style="top: 45px; bottom: 50px; overflow: hidden; overflow-y: scroll;background: rgba(0,0,0,.5)!important;">
            <div id="panelBody-5" class="panel_body chat_container" style=" background: none !important; ">
            
            <!-- 这个容器用来装聊天内容 -->
    
            </div>




        </div>

        <footer id="panelFooter-5" class="chat_toolbar_footer">
            <form onsubmit="sendBtnClick();return false;">
            <div class="chat_toolbar" style="display:block;">
                
                    
                
        <!--     <div id="add_app_btn" class="btn btn_add_grey">
                    <span class="btn_img"></span>
                </div> -->
                <div id="add_face_btn" class="btn btn_face" style="float:left;">
                    <span class="btn_img"></span>
                </div>
                
                
                <input type="text" id="chat_textarea" class="input input_white chat_textarea" style="width:58%;display: inline-block;">
                <button id="send_chat_btn" onclick="sendBtnClick()" class="btn btn_small btn_blue" cmd="sendMsg" style="float:right;">
                    <span class="btn_text">发送</span>
                </button>
                
                <textarea id="" class="input input_white chat_textarea hidden_textarea" style="height: 32px; width: 564px;"></textarea>
                
            </div>
            </form>
        <div id="face_images" class="qq_face_area" style="display: none;">
            <ul class="wrap" style="width: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                
                <li class="faceIteam faceIteam1" cmd="chooseFace" style="width: 0px;">
                    
                <i title="微笑" href="javascript:;"></i>
                    
                <i title="撇嘴" href="javascript:;"></i>
                    
                <i title="色" href="javascript:;"></i>
                    
                <i title="发呆" href="javascript:;"></i>
                    
                <i title="得意" href="javascript:;"></i>
                    
                <i title="流泪" href="javascript:;"></i>
                    
                <i title="害羞" href="javascript:;"></i>
                    
                <i title="闭嘴" href="javascript:;"></i>
                    
                <i title="睡" href="javascript:;"></i>
                    
                <i title="大哭" href="javascript:;"></i>
                    
                <i title="尴尬" href="javascript:;"></i>
                    
                <i title="发怒" href="javascript:;"></i>
                    
                <i title="调皮" href="javascript:;"></i>
                    
                <i title="呲牙" href="javascript:;"></i>
                    
                <i title="惊讶" href="javascript:;"></i>
                    
                <i title="难过" href="javascript:;"></i>
                    
                <i title="酷" href="javascript:;"></i>
                    
                <i title="冷汗" href="javascript:;"></i>
                    
                <i title="抓狂" href="javascript:;"></i>
                    
                <i title="吐" href="javascript:;"></i>
                    
                    <i title="delKey" href="javascript:;"></i>
                </li>
                
                <li class="faceIteam faceIteam2" cmd="chooseFace" style="width: 0px;">
                    
                <i title="偷笑" href="javascript:;"></i>
                    
                <i title="可爱" href="javascript:;"></i>
                    
                <i title="白眼" href="javascript:;"></i>
                    
                <i title="傲慢" href="javascript:;"></i>
                    
                <i title="饥饿" href="javascript:;"></i>
                    
                <i title="困" href="javascript:;"></i>
                    
                <i title="惊恐" href="javascript:;"></i>
                    
                <i title="流汗" href="javascript:;"></i>
                    
                <i title="憨笑" href="javascript:;"></i>
                    
                <i title="大兵" href="javascript:;"></i>
                    
                <i title="奋斗" href="javascript:;"></i>
                    
                <i title="咒骂" href="javascript:;"></i>
                    
                <i title="疑问" href="javascript:;"></i>
                    
                <i title="嘘" href="javascript:;"></i>
                    
                <i title="晕" href="javascript:;"></i>
                    
                <i title="折磨" href="javascript:;"></i>
                    
                <i title="衰" href="javascript:;"></i>
                    
                <i title="骷髅" href="javascript:;"></i>
                    
                <i title="敲打" href="javascript:;"></i>
                    
                <i title="再见" href="javascript:;"></i>
                    
                    <i title="delKey" href="javascript:;"></i>
                </li>
                
                <li class="faceIteam faceIteam3" cmd="chooseFace" style="width: 0px;">
                    
                <i title="擦汗" href="javascript:;"></i>
                    
                <i title="抠鼻" href="javascript:;"></i>
                    
                <i title="鼓掌" href="javascript:;"></i>
                    
                <i title="糗大了" href="javascript:;"></i>
                    
                <i title="坏笑" href="javascript:;"></i>
                    
                <i title="左哼哼" href="javascript:;"></i>
                    
                <i title="右哼哼" href="javascript:;"></i>
                    
                <i title="哈欠" href="javascript:;"></i>
                    
                <i title="鄙视" href="javascript:;"></i>
                    
                <i title="委屈" href="javascript:;"></i>
                    
                <i title="快哭了" href="javascript:;"></i>
                    
                <i title="阴险" href="javascript:;"></i>
                    
                <i title="亲亲" href="javascript:;"></i>
                    
                <i title="吓" href="javascript:;"></i>
                    
                <i title="可怜" href="javascript:;"></i>
                    
                <i title="菜刀" href="javascript:;"></i>
                    
                <i title="西瓜" href="javascript:;"></i>
                    
                <i title="啤酒" href="javascript:;"></i>
                    
                <i title="篮球" href="javascript:;"></i>
                    
                <i title="乒乓" href="javascript:;"></i>
                    
                    <i title="delKey" href="javascript:;"></i>
                </li>
                
                <li class="faceIteam faceIteam4" cmd="chooseFace" style="width: 0px;">
                    
                <i title="咖啡" href="javascript:;"></i>
                    
                <i title="饭" href="javascript:;"></i>
                    
                <i title="猪头" href="javascript:;"></i>
                    
                <i title="玫瑰" href="javascript:;"></i>
                    
                <i title="凋谢" href="javascript:;"></i>
                    
                <i title="示爱" href="javascript:;"></i>
                    
                <i title="爱心" href="javascript:;"></i>
                    
                <i title="心碎" href="javascript:;"></i>
                    
                <i title="蛋糕" href="javascript:;"></i>
                    
                <i title="闪电" href="javascript:;"></i>
                    
                <i title="炸弹" href="javascript:;"></i>
                    
                <i title="刀" href="javascript:;"></i>
                    
                <i title="足球" href="javascript:;"></i>
                    
                <i title="瓢虫" href="javascript:;"></i>
                    
                <i title="便便" href="javascript:;"></i>
                    
                <i title="月亮" href="javascript:;"></i>
                    
                <i title="太阳" href="javascript:;"></i>
                    
                <i title="礼物" href="javascript:;"></i>
                    
                <i title="拥抱" href="javascript:;"></i>
                    
                <i title="强" href="javascript:;"></i>
                    
                    <i title="delKey" href="javascript:;"></i>
                </li>
                
                <li class="faceIteam faceIteam5" cmd="chooseFace" style="width: 0px;">
                    
                <i title="弱" href="javascript:;"></i>
                    
                <i title="握手" href="javascript:;"></i>
                    
                <i title="胜利" href="javascript:;"></i>
                    
                <i title="抱拳" href="javascript:;"></i>
                    
                <i title="勾引" href="javascript:;"></i>
                    
                <i title="拳头" href="javascript:;"></i>
                    
                <i title="差劲" href="javascript:;"></i>
                    
                <i title="爱你" href="javascript:;"></i>
                    
                <i title="NO" href="javascript:;"></i>
                    
                <i title="OK" href="javascript:;"></i>
                    
                <i title="爱情" href="javascript:;"></i>
                    
                <i title="飞吻" href="javascript:;"></i>
                    
                <i title="跳跳" href="javascript:;"></i>
                    
                <i title="发抖" href="javascript:;"></i>
                    
                <i title="怄火" href="javascript:;"></i>
                    
                <i title="转圈" href="javascript:;"></i>
                    
                <i title="磕头" href="javascript:;"></i>
                    
                <i title="回头" href="javascript:;"></i>
                    
                <i title="跳绳" href="javascript:;"></i>
                    
                <i title="挥手" href="javascript:;"></i>
                    
                    <i title="delKey" href="javascript:;"></i>
                </li>
                
                <li class="faceIteam faceIteam6" cmd="chooseFace" style="width: 0px;">
                    
                <i title="激动" href="javascript:;"></i>
                    
                <i title="街舞" href="javascript:;"></i>
                    
                <i title="献吻" href="javascript:;"></i>
                    
                <i title="左太极" href="javascript:;"></i>
                    
                <i title="右太极" href="javascript:;"></i>
                    
                <i title="双喜" href="javascript:;"></i>
                    
                <i title="鞭炮" href="javascript:;"></i>
                    
                <i title="灯笼" href="javascript:;"></i>
                    
                <i title="发财" href="javascript:;"></i>
                    
                <i title="K歌" href="javascript:;"></i>
                    
                <i title="购物" href="javascript:;"></i>
                    
                <i title="邮件" href="javascript:;"></i>
                    
                <i title="帅" href="javascript:;"></i>
                    
                <i title="喝彩" href="javascript:;"></i>
                    
                <i title="祈祷" href="javascript:;"></i>
                    
                <i title="爆筋" href="javascript:;"></i>
                    
                <i title="棒棒糖" href="javascript:;"></i>
                    
                <i title="喝奶" href="javascript:;"></i>
                    
                <i title="下面" href="javascript:;"></i>
                    
                <i title="香蕉" href="javascript:;"></i>
                    
                    <i title="delKey" href="javascript:;"></i>
                </li>
                
            </ul>
            <ul class="btnsWrap"><li class="" _index="0"></li><li _index="1" class=""></li><li _index="2" class=""></li><li _index="3"></li><li _index="4"></li><li _index="5" class="selected"></li></ul>
        </div>
        <!-- <div id="qq_app_area" class="qq_app_area" style="display: none;">
            <ul></ul>
        </div> -->
        <iframe id="panel_uploadFilIframe" name="panel_uploadFilIframe" style="display:none"></iframe>

        </footer>

        </div>





<!-- 对话结束 -->
    </div>

        
</div>


<style>
    #lz-mask{ line-height: 30px;padding-top: 30px; -webkit-transition: all 1s; transition: all 1s; position: fixed;top:0;left: 0;width:100%;min-height: 100%; text-align: center; background-color: rgba(0,0,0,0.5); display: none;}
    #namewrap{width: 240px; height: 200px; margin: 0 auto; border-radius: 3px; background-color: #ccc;margin-top: 20%;top:-100px;}
</style>
<!-- 登陆部分 -->
<div id="lz-mask">
    <div id="namewrap">
        <h2>取个让人印象深刻的名字吧</h2>
        <input type="text" id="lz-username">
        <button id="lz-sure" onclick="lzSureClick()">确定</button>
    </div>

</div>




</body>
</html>





<script src="./socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>
