.list>li,.list_group{
	cursor: inherit !important;
}
.list_group.active .list_arrow_right{
	background-image: none !important;
}

#return-to-userlist{
	margin-left:10px;
}

.chat_nick{
	color:red;
	font-weight:bold;
	text-shadow:none;
}

#panelTitle-5{
	width:50% !important;

}

#face_images{
	ul.wrap{
		transition:all .5s ease-out;
		position:relative;
        width:4200px;
	}
}
.btnsWrap{
  cursor: auto !important;
  li{
    cursor: pointer;
  }
}